# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
pubspec.lock

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/app/build/
android/local.properties
android/.idea/

# VS Code
.vscode/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Misc
*.log
*.lock
*.tmp
*.swp
.DS_Store

# Coverage
coverage/

# MacOS
*.DS_Store

# Windows
Thumbs.db
